<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title th:text="${WEBSITE_TITLE}">Title</title>
	<link rel="shortcut icon" th:href="@{/resource/favicon.png}" />
	<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/atom.xml}" />
	<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/rss.xml}" />

	<link rel="stylesheet" th:href="@{/resources/metronic/custom/css/login.css}" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/global/css/components.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/global/css/plugins.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/pages/css/blog.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/layouts/layout3/css/layout.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/layouts/layout3/css/custom.css}" href="#" />
	<link rel="stylesheet" th:href="@{/resources/metronic/theme/assets/layouts/layout3/css/themes/default.css}" href="#" />
</head>

<body class="session-authentication">
<div class="">

</div>
<div role="main">
	<div class="container">
		<div class="auth-form px-3" id="login">
			<form th:action="@{/login}" action="#" method="post">
				<div class="auth-form-header p-0">
					<h1>Sign in to Wallride</h1>
				</div>
				<div class="auth-form-body mt-3">
					<label for="login_field">
						Username or email address
					</label>
					<input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block"
						   id="login_field"  name="username" tabindex="1" type="text">

					<label for="password">
						Password <a th:href="@{/password_reset}" class="label-link">Forgot password?</a>
					</label>
					<input class="form-control form-control input-block" id="password" name="password" tabindex="2"
						   type="password">

					<input class="login-btn login-btn-primary login-btn-block" data-disable-with="Signing in…" name="commit" tabindex="3"
						   type="submit" value="Sign in">
				</div>
			</form>
			<p class="create-account-callout mt-3">
				New to Wallride?
				<a th:href="@{/join}" data-ga-click="Sign in, switch to sign up">Create an account</a>.
			</p>
		</div>

	</div>

</div>



</body>
</html>
