<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
	  th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title th:text="${WEBSITE_TITLE}">Title</title>
		<!--/*/ <th:block th:fragment="head-link"> /*/-->
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/rss.xml}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/resources/guest/css/sticky-footer-navbar.css}" href="#" />
		<link rel="stylesheet" th:href="@{/resources/guest/css/common.css}" href="#" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:fragment="head-script"> /*/-->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script th:src="@{/resources/guest/lib/jsrender.min.js}" src="#"></script>
		<script th:src="@{/resources/guest/lib/jquery.lazyload.min.js}" src="#"></script>
		<!--/*/ </th:block> /*/-->
		<script th:replace="google-analytics::ga(null)"></script>
	</head>
	<body>
		<!-- Wrap all page content here -->
		<div id="wrap">
			<!-- Fixed navbar -->
			<div th:fragment="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a th:text="${WEBSITE_TITLE}" th:href="@{/}" class="navbar-brand" href="#">Blog Title</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li th:each="node : ${#pages.nodes}" th:classappend="${node.contains(page) ? 'active' : ''}"><a th:href="@{/__${node.object.code}__}" th:text="${node.object.title}">About</a></li>
						</ul>
						<form th:action="@{/search}" method="post" class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control" placeholder="Search"/>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${#messages.msg('Language.' + #locale.language)}">Language</span> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li th:each="key : ${LANGUAGE_LINKS.keySet()}"><a th:href="${LANGUAGE_LINKS.get(key)}" th:text="${#messages.msg('Language.' + key)}" href="#" >English</a></li>
								</ul>
							</li>
							<li th:if="${!#authorization.expression('hasRole(''ROLE_VIEWER'')')}"><a th:href="@{/signup}" th:text="#{Signup}">Sign Up</a></li>
							<li th:if="${!#authorization.expression('hasRole(''ROLE_VIEWER'')')}"><a th:href="@{/login}" th:text="#{LogIn}">Log In</a></li>
							<li class="dropdown" sec:authorize="hasRole('ROLE_VIEWER')">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="principal">User Name</span> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/settings/profile}"><span class="glyphicon glyphicon-cog"></span> <span th:text="#{EditProfile}">Edit Profile</span></a></li>
									<li><a th:href="@{/settings/password}"><span class="glyphicon glyphicon-lock"></span> <span th:text="#{EditPassword}">Edit Password</span></a></li>
									<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> <span th:text="#{LogOut}">Log Out</span></a></li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>

			<!-- Begin page content -->
			<div class="container">
				<div class="page-header">
					<h1>Sticky footer with fixed navbar</h1>
				</div>
				<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
				<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
			</div>
		</div>
		<div th:fragment="footer" class="footer">
			<div class="container">
				<p class="text-muted credit">&copy; WallRide</p>
			</div>
		</div>

		<div th:fragment="blog-sidebar-top-entiries">
			<h3>Top Entiries</h3>
			<div class="top-news">
				<a href="javascript:;" class="btn red">
								<span>
								Metronic News </span>
					<em>Posted on: April 16, 2013</em>
					<em>
						<i class="fa fa-tags"></i>
						Money, Business, Google </em>
					<i class="fa fa-briefcase top-news-icon"></i>
				</a>
				<a href="javascript:;" class="btn green">
								<span>
								Top Week </span>
					<em>Posted on: April 15, 2013</em>
					<em>
						<i class="fa fa-tags"></i>
						Internet, Music, People </em>
					<i class="fa fa-music top-news-icon"></i>
				</a>
				<a href="javascript:;" class="btn blue">
								<span>
								Gold Price Falls </span>
					<em>Posted on: April 14, 2013</em>
					<em>
						<i class="fa fa-tags"></i>
						USA, Business, Apple </em>
					<i class="fa fa-globe top-news-icon"></i>
				</a>
				<a href="javascript:;" class="btn yellow">
								<span>
								Study Abroad </span>
					<em>Posted on: April 13, 2013</em>
					<em>
						<i class="fa fa-tags"></i>
						Education, Students, Canada </em>
					<i class="fa fa-book top-news-icon"></i>
				</a>
				<a href="javascript:;" class="btn purple">
								<span>
								Top Destinations </span>
					<em>Posted on: April 12, 2013</em>
					<em>
						<i class="fa fa-tags"></i>
						Places, Internet, Google Map </em>
					<i class="fa fa-bolt top-news-icon"></i>
				</a>
			</div>
		</div>

		<div th:fragment="blog-sidebar-flickr">

			<h3>Flickr</h3>
			<ul class="list-inline blog-images">
				<li>
					<a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="/resources/metronic/theme/assets/img/blog/1.jpg">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/1.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/2.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/3.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/4.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/5.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/6.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/8.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/10.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/11.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/1.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/2.jpg">
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<img alt="" src="/resources/metronic/theme/assets/pages/media/blog/7.jpg">
					</a>
				</li>
			</ul>

		</div>

		<div th:fragment="blog-sidebar-tabs">

			<h3>Tabs</h3>
			<div class="tabbable-line">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#tab_1_1">
							Section 1 </a>
					</li>
					<li>
						<a data-toggle="tab" href="#tab_1_2">
							Section 2 </a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="tab_1_1" class="tab-pane active">
						<p>
							I'm in Section 1.
						</p>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
						</p>
					</div>
					<div id="tab_1_2" class="tab-pane">
						<p>
							Howdy, I'm in Section 2.
						</p>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div th:fragment="blog-sidebar-recent-twitters">
			<h3>Recent Twitts</h3>
			<div class="blog-twitter">
				<div class="blog-twitter-block">
					<a href="">
						@keenthemes </a>
					<p>
						At vero eos et accusamus et iusto odio.
					</p>
					<a href="javascript:;">
						<em>http://t.co/sBav7dm</em>
					</a>
					<span>
									2 hours ago </span>
					<i class="fa fa-twitter blog-twiiter-icon"></i>
				</div>
				<div class="blog-twitter-block">
					<a href="">
						@keenthemes </a>
					<p>
						At vero eos et accusamus et iusto odio.
					</p>
					<a href="javascript:;">
						<em>http://t.co/sBav7dm</em>
					</a>
					<span>
									5 hours ago </span>
					<i class="fa fa-twitter blog-twiiter-icon"></i>
				</div>
				<div class="blog-twitter-block">
					<a href="">
						@keenthemes </a>
					<p>
						At vero eos et accusamus et iusto odio.
					</p>
					<a href="javascript:;">
						<em>http://t.co/sBav7dm</em>
					</a>
					<span>
									7 hours ago </span>
					<i class="fa fa-twitter blog-twiiter-icon"></i>
				</div>
			</div>
		</div>

		<div th:fragment="blog-sidebar-popular-articles">
			<h3>Popular Articles</h3>
		</div>

		<div th:fragment="blog-sidebar-recent-articles">
			<h3>Recent Articles</h3>
		</div>

		<div th:fragment="blog-sidebar-more-like-this">
			<h3>More Like This</h3>
		</div>

		<div th:fragment="blog-sidebar-categories">
			<h3>Categories</h3>
			<ul class="" th:each="category : ${cagegories}">
				<li>
					<a th:href="@{/category/__${category.name}__}" th:text="${category.name}">Java</a>
					<span th:text="'(' + ${category.num} + ')'">10</span>
				</li>
			</ul>
		</div>
		<div th:fragment="blog-sidebar-article-archive">
			<h3>Article Archive</h3>
			<ul class="" th:each="articleArchive : ${articleArchives}">
				<li>
					<a th:href="@{/__${articleArchive.year}__/__${articleArchive.month}__}" th:text="${articleArchive.year} + '-' + ${articleArchive.month}">2017-12-28</a>
					<span th:text="'(' + ${articleArchive.num} + ')'">10</span>
				</li>
			</ul>
		</div>
		<div th:fragment="blog-sidebar-most-read">
			<h3>Most Read</h3>
		</div>
		<div th:fragment="blog-sidebar-hot-comments">
			<h3>Hot Comments</h3>
		</div>
		<div th:fragment="blog-sidebar-tags">
			<h3>Blog Tags</h3>
		</div>
	</body>
</html>
