<div  xmlns:th="http://www.w3.org/1999/xhtml">
<table class="table table-striped table-bordered table-hover table-checkable order-column" id="user-table">
    <thead>
    <tr role="row">
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 75px">
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="group-checkable" data-set="#user-table .checkboxes"/>
                <span></span>
            </label>
        </th>
        <th class="sorting" th:text="#{Name}">Name</th>
        <th class="sorting" th:text="#{LoginId}">Login ID</th>
        <th class="sorting" th:text="#{Email}">Email</th>
        <th class="sorting" th:text="#{Posts}">Posts</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" th:attr="data-href=@{__${ADMIN_PATH}__/users/describe(id=${user.id},query=${query})}"
        class="odd gradeX">
        <td>
            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="checkboxes" th:value="${user.id}" />
                <span></span>
            </label>
        </td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.loginId}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${articleCounts.get(user.id)}?:0" class="text-right"></td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="dataTables_info">
            Showing
            <span th:text="${pagination.numberOfFirstElement}"></span> to
            <span th:text="${pagination.numberOfLastElement}"></span> of
            <span th:text="${pagination.totalElements}"></span> records
        </div>
    </div>
    <div class="col-md-7 col-sm-7">
        <div class="pagination-group pull-right">

            <div class="pull-right">
                <ul class="pagination paginateon-sm">
                    <li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}">
                        <a th:href="@{${pagination.url}(page=${pagination.previousPageNumber})}"
                           th:data-page="${pagination.previousPageNumber}" th:text="#{Prev}" class="pagination-a">Prev</a></li>
                    <li th:each="p : ${pagination.getPageables(pageable)}"
                        th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}">
                        <a th:href="@{${pagination.url}(page=${p.pageNumber})}" th:data-page="${p.pageNumber}"
                           th:text="${p.pageNumber + 1}" class="pagination-a"></a></li>
                    <li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}">
                        <a th:href="@{${pagination.url}(page=${pagination.nextPageNumber})}"
                           th:data-page="${pagination.nextPageNumber}" th:text="#{Next}" class="pagination-a">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

</div>