<div xmlns:th="http://www.w3.org/1999/xhtml">
<article th:each="article : ${articles}">
    <div class="row">
        <div class="col-md-4 blog-img blog-tag-data">
            <img src="/resources/metronic/theme/assets/pages/media/gallery/image3.jpg" alt="" class="img-responsive">
            <ul class="list-inline">
                <li>
                    <i class="fa fa-calendar"></i>
                    <relative-time  th:datetime="${#temporals.format(article.date, 'yyyy-MM-dd HH:mm:ss')}" th:title="${#temporals.format(article.date, 'yyyy-MM-dd HH:mm:ss')}"
                                    th:text="${#temporals.format(article.date, 'yyyy-MM-dd HH:mm:ss')}" class="article-created-time">April 16, 2013 </relative-time>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <author th:text="${article.author.name}">Hongjie Li</author>
                </li>
            </ul>
            <ul class="list-inline">
<!--                <li>
                    <i class="fa fa-tags"></i>
                    <tag th:each="tag : ${article.tags}">
                        <a href="javascript:;" th:text="${tag.name}">Technology</a>
                    </tag>
                </li>-->
                <li>
                    <i class="fa fa-comments"></i>
                    <comment th:text="${#lists.size(article.comments)} + ' Comments'">38 Comments </comment>
                </li>
                <li>
                    <i class="fa fa-eye"></i>
                    <view href="javascript:;" th:text="${article.views} + ' Views'">10 views </view>
                </li>
            </ul>
        </div>

        <div class="col-md-8 blog-article">
            <h3>
                <a th:href="@{${#posts.path(article)}}" th:text="${article.title}?:'No Titled'" href="#"></a>
            </h3>
            <p th:text="${#posts.summary(article, 45)}"></p>
            <a class="btn blue" th:href="@{${#posts.path(article)}}">
                Read more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <hr>
</article>
<div class="pagination-group pull-right">

        <div class="pull-right">
            <ul class="pagination paginateon-sm">
                <li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}">
                    <a th:href="@{${pagination.url}(page=${pagination.previousPageNumber})}"
                       th:data-page="${pagination.previousPageNumber}" th:text="#{Prev}" class="pagination-a">Prev</a></li>
                <li th:each="p : ${pagination.getPageables(pageable)}"
                    th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}">
                    <a th:href="@{${pagination.url}(page=${p.pageNumber})}" th:data-page="${p.pageNumber}"
                       th:text="${p.pageNumber + 1}" class="pagination-a"></a></li>
                <li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}">
                    <a th:href="@{${pagination.url}(page=${pagination.nextPageNumber})}"
                       th:data-page="${pagination.nextPageNumber}" th:text="#{Next}" class="pagination-a">Next</a></li>
            </ul>
        </div>
    </div>
</div>
