<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wallride.mapper.PasswordResetTokenMapper" >

    <resultMap id="BaseResultMap" type="org.wallride.domain.Tag" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />

    </resultMap>

    <sql id="Base_Column_List" >
        ID,LANGUAGE,NAME
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
        SELECT
        <include refid="Base_Column_List" />
        FROM TAG
        WHERE ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.wallride.model.TagExample" >
        SELECT
        <include refid="Base_Column_List" />
        FROM TAG l
        <where>
            <if test="code != null">
                    l.CODE LIKE CONCAT('%', #{code,jdbcType=VARCHAR}, '%')
            </if>
            <if test="name != null">
                AND l.CODE LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
        </where>

    </select>

    <delete id="deleteByPrimaryKey" parameterType="String" >
        DELETE FROM TAG
        WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteInBatch" parameterType="">
        DELETE FROM TAG
    </delete>

    <insert id="insertSelective" parameterType="org.wallride.domain.Tag" >

        INSERT INTO TAG
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="languageCode != null" >
                LANGUAGE_CODE,
            </if>
            <if test="name != null" >
                NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="languageCode != null" >
                #{age,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertInBatch" parameterType="">
        INSERT INTO TAG
    </insert>

    <update id="updateByPrimaryKey" parameterType="org.wallride.domain.Tag" >
        UPDATE TAG
        <set >
            <if test="languageCode != null" >
                LANGUAGE_CODE = #{languageCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                NAME = #{name,jdbcType=INTEGER},
            </if>
            <if test="description != null" >
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
