<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wallride.mapper.PopularPostMapper" >

    <resultMap id="BaseResultMap" type="org.wallride.domain.PopularPost" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
        <result column="RANK" property="rank" jdbcType="INT" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="VIEWS" property="views" jdbcType="BIGINT" />

    </resultMap>

    <sql id="Base_Column_List" >
        ID,LANGUAGE,TYPE,RANK,VIEWS
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
        SELECT
        <include refid="Base_Column_List" />
        FROM POPULAR_POST
        WHERE ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.wallride.model.PopularPostExample" >
        SELECT
        <include refid="Base_Column_List" />
        FROM POPULAR_POST l
        <where>
            <if test="code != null">
                    l.CODE LIKE CONCAT('%', #{code,jdbcType=VARCHAR}, '%')
            </if>
            <if test="name != null">
                AND l.CODE LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
        </where>

    </select>

    <delete id="deleteByPrimaryKey" parameterType="String" >
        DELETE FROM POPULAR_POST
        WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteInBatch" parameterType="">
        DELETE FROM POPULAR_POST
    </delete>

    <insert id="insertSelective" parameterType="org.wallride.domain.Tag" >

        INSERT INTO POPULAR_POST
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="languageCode != null" >
                LANGUAGE_CODE,
            </if>
            <if test="name != null" >
                NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="languageCode != null" >
                #{age,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertInBatch" parameterType="java.util.List">
        INSERT INTO POPULAR_POST () VALUES
        <foreach collection ="list" item="reddemCode" index= "index" separator =",">
            (
            #{reddemCode.batchId}, #{reddemCode.code},
            #{reddemCode.type},
            #{reddemCode.facevalue},
            #{reddemCode.createUser}, #{reddemCode.createTime}
            )
        </foreach >
    </insert>

    <update id="updateByPrimaryKey" parameterType="org.wallride.domain.Tag" >
        UPDATE POPULAR_POST
        <trim prefix="SET" suffixOverrides=",">
            <if test="languageCode != null" >
                LANGUAGE_CODE = #{languageCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                NAME = #{name,jdbcType=INTEGER},
            </if>
            <if test="description != null" >
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>



</mapper>
